/* Site Colors:
	#1A446C - blue grey
	#689DC1 - light blue
	#D4E6F4 - very light blue
	#EEE4B9 - light tan
	#8D0D19 - burgundy
*/

html { height: 100%; width: 100%; }
body { 
	font-family: Verdana, Arial, Helvetica, sans-serif; background: #D4E6F4;
	font-size: 13px; line-height: 15px; 
	text-align:center; /*For IE6 Shenanigans*/
	}

*{
   margin:0;
   padding:0;
}
 
#wrapper{
   width:960px;
   margin:0 auto;
   text-align:left;
}
	
img { border: none; }
table, tr, td { border-collapse: collapse; vertical-align: top; font-size: 13px; line-height: 15px;}
a { color: #000; text-decoration:none; }
a:hover {text-decoration:underline;}

table td { padding: 0.5em; }

#header { height: 70px; margin: 0px; padding: 0px; text-align: left; 
	background: #206BA4; color: #F1EFE2; }
#header h1 { padding: 1em; margin: 0px;}
#main { margin: 0px; padding: 0px; width: 100%; background: #EeE4B9; }
#statusBar { margin: 0.5em; padding: 0px; width: 100%; background: #EeE4B9; }

#structure { height: 600px; width: 100%; }
#footer { clear:both; height: 2em; margin: 0px; padding: 1em; text-align: center; 
	background: #206BA4;  color: #D4E6F4; }

/* Navigation */
#navigation { padding: 1em 2em; color: #EBF4FA; background: #C0C0C0; height:2em; clear:both; }
#navigation a { color: #D4E6F4; text-decoration: none; }

#statusBar { background: #C0d000; height:1.8em; margin:auto; clear:both; padding-top:0.4em; clear:both;}

#menuBar { 
	margin:auto; text-align: center;	
	background: #206BA4; height: 2em; 
	padding-top:0.55em; clear:both;
}
#menuBar a { color: #F1EFE2; font-size: 1.1em;}

#menuBar ul{
	list-style-type:none;
	margin:0;
	padding:0px;
}

#menuBar li{
	display:inline;
	padding:10px;
}

ul.subjects { padding-left: 0; list-style: none; }
ul.pages { padding-left: 2em; list-style: square; }
.selected { font-weight: bold; }

/* Page Content */
#page { padding-left: 2em; padding-top: 1em; vertical-align: top; background: #fff; }
#page h2 { color: #8D0D19; margin-top: 1em;}
#page h3 { color: #8D0D19; }


#leftClmn { width: 44%; float: left; padding-left: 2em; padding-top: 1em; vertical-align: top; background: #fff; }
#rightClmn { width: 50%; float: right; padding-left: 2em; padding-top: 1em; vertical-align: top; background: #fff; }
